@import 'constants';
@import 'mixins';
.btn-search {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
}
.location-search .location-query {
    border: none;
    outline: none;
    width: 100%;
    transition: color 0.3s ease;
    padding-right: 30px;
    padding-bottom: 4px;
    line-height: 36px;
    &:focus::-webkit-input-placeholder {
        color: transparent;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }
    &:focus:-moz-placeholder {
        color: transparent;
        transition: opacity 0.35s ease-in-out;
    }
    &:focus::-moz-placeholder {
        color: transparent;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }
    &:focus:-ms-input-placeholder {
        color: transparent;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }
    &::-webkit-input-placeholder {
        color: $primary-color;
        opacity: 0.5;
        transition: opacity 0.35s ease-in-out;
    }
    &:-moz-placeholder {
        color: $primary-color;
        opacity: 0.5;
        transition: opacity 0.35s ease-in-out;
    }
    &::-moz-placeholder {
        color: $primary-color;
        opacity: 0.5;
        transition: opacity 0.35s ease-in-out;
    }
    &:-ms-input-placeholder {
        color: $primary-color;
        opacity: 0.5;
        transition: opacity 0.35s ease-in-out;
    }
    &:hover::-webkit-input-placeholder {
        opacity: 0.75;
        transition: opacity 0.35s ease-in-out;
    }
    &:hover:-moz-placeholder {
        opacity: 0.75;
        transition: opacity 0.35s ease-in-out;
    }
    &:hover::-moz-placeholder {
        opacity: 0.75;
        transition: opacity 0.35s ease-in-out;
    }
    &:hover:-ms-input-placeholder {
        opacity: 0.75;
        transition: opacity 0.35s ease-in-out;
    }
}
.location-search {
    width: 100%;
    border-bottom: 2px solid $disabled-color;
    padding: 0 5px;
    transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
    position: relative;
    margin-top: 40px;
    @include breakpoint(md) {
        margin-bottom: 40px;
    }
    &:hover {
        border-color: $primary-color;
    }
    &:hover *::-webkit-input-placeholder {
        color: $primary-color;
    }
    &:hover *:-moz-placeholder {
        color: $primary-color;
    }
    &:hover *::-moz-placeholder {
        color: $primary-color;
    }
    &:hover *:-ms-input-placeholder {
        color: $primary-color;
    }
}
